<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hire My Room - Renting Rooms and Apartments made easy now</title>
    <link rel="icon" type="image/png" href="/images/logo/logo.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css">
    <link rel="stylesheet" href="/css/header-footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        .align-items-center {
            -webkit-box-align: center !important;
            -ms-flex-align: center !important;
            align-items: center !important;
            background-color: #006CE4;
            padding-left: 187px;
            height: 27px;
        }


        .col {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
        }

        .d-flex {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
        }

        .mailus {
            color: #FFFFFF99;
            font-size: 15px;
            font-family: Poppins;
        }

        .phone>a {
            color: white;
            font-size: 12px;
        }

        .mynavbar {
            height: 91px;
            padding-left: 187px;
            color: black;
            border: black 2px solid;
        }

        .footer {
            color: #808080;

            background-color: #272727;
            padding: 98px 0px 0px;
        }

        .lowerfooter {
            color: #808080;
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
            background-color: #1A1A1A;
            margin: 48px 0px 0px;
            padding: 48px 0px 0px;
        }

        p a:hover {
            font-size: 17px;
            color: rgb(214, 214, 3);
        }

        #ftco-navbar {
            height: 91px;
            width: 1824px;
        }
    </style>
    <script src='main.js'></script>

</head>

<body>
    <div class="header-top-bar">
        <div class="container hover-effect">
            <span>Phone no: <a href="tel:+923228441665">+923228441665</a> or email us: <a href="mailto:info@hiremyroom.com">info@hiremyroom.com</a></span>
        </div>
    </div>
    
    <header class="main-header">
        <div class="container">
            <a href="/" class="logo">
                <span class="logo-text">Hire my</span>&nbsp;<span class="logo-highlight">Room</span>
            </a>
            <nav class="main-nav">
                <ul>
                    <li ><a href="/">Home</a></li>
                    <li><a href="/rooms">Rooms</a></li>
                    <li ><a href="/rooms/apartments">Apartments</a></li>
                    <li ><a href="/blog">Blog</a></li>
                    <li ><a href="/about">About</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Sign up</a></li>
                    <li>
                      <div class="language-switch">
                        <span class="language-option english" onclick="openVideoModal('english')">
                            <i class="fa fa-play-circle"></i>
                            <span>ENG</span>
                        </span>
                        <span class="language-option urdu" onclick="openVideoModal('urdu')">
                            <i class="fa fa-play-circle"></i>
                            <span>URD</span>
                        </span>
                    </div>
                    </li>
                </ul>
            </nav>
            
        </div>
    </header>
    <div class="container my-5" style="margin-left: 170px;">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h2>Imperial Boys Hostel, 3rd Floor Room no 13, 2 Seater and 1 Seat Available</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div style="width: 100%;">
                    <img height="305px" src="/images/rooms/room14.avif" alt="Image 1" class="d-block w-100"
                        style="object-fit: cover;">
                   

                </div>
            </div>
            <div class="col-md-6">
                <h3
                    style="font-family: 'Georgia', serif; color: #333; font-size: 1.8rem; font-weight: 600; margin-bottom: 1.5rem;">
                    Room Details</h3>
                <div style="margin-bottom: 2rem;">
                    <div style="margin-bottom: 0.4rem; font-family: Arial, sans-serif; color: #333; font-size: 15px;">
                        <strong style="font-weight: 600;">Price:</strong> PKR 12000 Monthly
                    </div>
                    <div style="margin-bottom: 0.4rem; font-family: Arial, sans-serif; color: #333; font-size: 15px;">
                        <strong style="font-weight: 600;">Location:</strong> Johar Town, Lahore
                    </div>
                    <div style="margin-bottom: 0.4rem; font-family: Arial, sans-serif; color: #333; font-size: 15px;">
                        <strong style="font-weight: 600;">Type:</strong> Room
                    </div>
                    <div style="margin-bottom: 0.4rem; font-family: Arial, sans-serif; color: #333; font-size: 15px;">
                        <strong style="font-weight: 600;">Bathroom:</strong> 1
                    </div>
                    <div style="margin-bottom: 0.4rem; font-family: Arial, sans-serif; color: #333; font-size: 15px;">
                        <strong style="font-weight: 600;">Number of Rooms:</strong> 1
                    </div>
                    <div style="margin-bottom: 0.4rem; font-family: Arial, sans-serif; color: #333; font-size: 15px;">
                        <strong style="font-weight: 600;">Uploaded:</strong> 5 months ago
                    </div>
                </div>
                <div style="text-align: left;">
                    <button type="button"
                        style="background-color: #666; color: white; font-weight: 600; padding: 10px 25px; border: none; border-radius: 4px; text-transform: uppercase; letter-spacing: 0.5px; font-size: 14px;">
                        SIGN IN AND BOOK
                    </button>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-md-6">
                <h4>Services &amp; Features</h4>
                <p>Fast internet - Security - Attach Bath - AC - Gyser - Mess - Daily Base Cleaning</p>
                <h4>Description</h4>
                <p>Advisor Mohammad Amin ( 0324-4529306 ) Salman Sheikh (0327-3222245 )</p>
            </div>
            <div class="col-md-6">
                <h4>Owner Details</h4>
                <p class="my-4">Sign up to view more details ...</p>
            </div>
        </div>





    </div>



    
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h2 class="footer-heading">
                        <a href="#" class="logo">Hire My Room</a>
                    </h2>
                    <p>Where Renting Feels Right.</p>
                    <a href="/about">Read more <span class="fa fa-chevron-right" style="font-size: 11px;"></span></a>
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h2 class="footer-heading">Services</h2>
                    <ul class="list-unstyled">
                        <li><a href="/contact" class="py-1 d-block">Review</a></li>
                        <li><a href="/blog" class="py-1 d-block">Blog</a></li>
                        <li><a href="/about" class="py-1 d-block">About</a></li>
                        <li><a href="/rooms" class="py-1 d-block">Rooms</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                                        <h2 class="footer-heading">Types</h2>
                    <div class="tagcloud">
                        <a href="/apartments" class="tag-cloud-link">Apartment</a>
                        <a href="/rooms" class="tag-cloud-link">Room</a>
                                            </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h2 class="footer-heading">Subscribe</h2>
                    <form class="subscribe-form" onsubmit="return validateAndSubscribe(event)">
                        <div class="form-group d-flex">
                            <input type="email" name="email" id="subscribeEmail" class="form-control" placeholder="Enter email address" required>
                            <button type="submit" class="submit-btn">
                                <i class="fa fa-paper-plane"></i>
                            </button>
                        </div>
                    </form>
                    
                    
                    <div id="subscribePopup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 30px; border-radius: 10px; box-shadow: 0 10px 30px rgba(0,0,0,0.3); z-index: 1000; text-align: center; min-width: 300px;">
                        <div id="popupContent">
                            <i id="popupIcon" style="font-size: 48px; margin-bottom: 15px;"></i>
                            <h4 id="popupTitle" style="margin-bottom: 10px; color: #333;"></h4>
                            <p id="popupMessage" style="color: #666; margin-bottom: 20px;"></p>
                            <button onclick="closePopup()" style="background: #0073e6; color: white; border: none; padding: 10px 25px; border-radius: 5px; cursor: pointer; font-weight: 600;">OK</button>
                        </div>
                    </div>
                    
                    
                    <div id="overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 999;"></div>
                    <h2 class="footer-heading mt-5">Follow us</h2>
                    <ul class="ftco-footer-social p-0">
                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-100 mt-5 border-top py-5 lower-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-8">
                        <p class="copyright mb-0">
                            Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | <i class="fa fa-heart" aria-hidden="true"></i>
                            <a href="#" target="_blank">hiremyroom.com</a>
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-4 text-md-right">
                        <p class="mb-0 list-unstyled">
                            <a class="mr-md-3" href="#">Terms</a>
                            <a class="mr-md-3" href="#">Privacy</a>
                            <a class="mr-md-3" href="#">Compliances</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  
    
    <div id="videoModal" class="video-modal">
        <div class="video-modal-content">
            <div class="video-modal-header">
                <h3 class="video-modal-title" id="videoModalTitle">English Introduction Video</h3>
                <button class="video-modal-close" onclick="closeVideoModal()">&times;</button>
            </div>
            <div class="video-container">
                <video id="introVideo" class="video-player" controls>
                    <source src="/videos/English.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
  
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    
    <script>
        function openVideoModal(language) {
            const modal = document.getElementById('videoModal');
            const video = document.getElementById('introVideo');
            const title = document.getElementById('videoModalTitle');
            
            
            if (language === 'urdu') {
                title.textContent = 'Urdu Introduction Video';
                video.src = '/videos/urdu.mp4';
            } else {
                title.textContent = 'English Introduction Video';
                video.src = '/videos/English.mp4';
            }
            
            
            modal.classList.add('show');
            
            
            video.play();
        }
        
        function closeVideoModal() {
            const modal = document.getElementById('videoModal');
            const video = document.getElementById('introVideo');
            
            
            video.pause();
            
            
            modal.classList.remove('show');
        }
        
        
        document.getElementById('videoModal').addEventListener('click', function(e) {
            if (e.target === this) {
                closeVideoModal();
            }
        });
        
        
        document.addEventListener('keydown', function(e) {
            if (e.key === 'Escape') {
                closeVideoModal();
            }
        });
    </script>
    
    
    <script>
        function validateAndSubscribe(event) {
            event.preventDefault();
            
            const email = document.getElementById('subscribeEmail').value.trim();
            
            
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            
            if (!email) {
                showPopup('error', 'Empty Email', 'Please enter your email address to subscribe to our newsletter.');
                return false;
            }
            
            if (!emailRegex.test(email)) {
                showPopup('error', 'Invalid Email', 'Please enter a valid email address (e.g., user@example.com).');
                return false;
            }
            
            
            showPopup('success', 'Subscription Successful!', 'Thank you for subscribing to our newsletter. You will receive updates about our latest rooms and offers.');
            
           
            document.getElementById('subscribeEmail').value = '';
            
            return false;
        }
        
        function showPopup(type, title, message) {
            const popup = document.getElementById('subscribePopup');
            const overlay = document.getElementById('overlay');
            const icon = document.getElementById('popupIcon');
            const popupTitle = document.getElementById('popupTitle');
            const popupMessage = document.getElementById('popupMessage');
            
            
            if (type === 'success') {
                icon.className = 'fa fa-check-circle';
                icon.style.color = '#28a745';
            } else {
                icon.className = 'fa fa-exclamation-circle';
                icon.style.color = '#dc3545';
            }
            
            popupTitle.textContent = title;
            popupMessage.textContent = message;
            
           
            popup.style.display = 'block';
            overlay.style.display = 'block';
        }
        
        function closePopup() {
            const popup = document.getElementById('subscribePopup');
            const overlay = document.getElementById('overlay');
            
            popup.style.display = 'none';
            overlay.style.display = 'none';
        }
        
        
        document.addEventListener('DOMContentLoaded', function() {
            const overlay = document.getElementById('overlay');
            overlay.addEventListener('click', closePopup);
        });
    </script>
  
</body>

</html>